<%- include ("./partials/toasts") %>
    <%- include ("./partials/navigation") %>

        <div class="container">
            <div class="col s12 z-depth-6">
                <div class="col s12">
                    <h5 class="header">Create a New Account</h5>
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <form class="col s12" action="/register" method="POST">
                                <div class="card-content">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons coloured prefix">account_circle</i>
                                            <input type="text" id="name" name="name" class="validate"
                                                value="<%= typeof name != 'undefined' ? name : '' %>">
                                            <span class="helper-text" data-success="Nice to meet you!">Enter your full
                                                name</span>
                                            <label for="name">Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons coloured prefix">email</i>
                                            <input required type="text" id="email" name="email" class="validate"
                                                value="<%= typeof email != 'undefined' ? email : '' %>">
                                            <span class="helper-text" data-error="Invalid Email"
                                                data-success="Awesome! This becomes your login ID">Enter a valid email</span>
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons coloured prefix">password</i>
                                            <input required type="password" id="password" name="password" minlength="8"
                                                class="validate" value="<%= typeof password != 'undefined' ? password : '' %>">
                                            <span class="helper-text" data-error="Password is too short"
                                                data-success="Great! This becomes your login password">Enter a password with at
                                                least 8 characters</span>
                                            <label for="password">Create Password</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons coloured prefix">password</i>
                                            <input required type="password" id="password2" name="password2" minlength="8"
                                                class="validate"
                                                value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                                            <span class="helper-text" data-error="Password is too short" data-success="">Enter
                                                the same password again to confirm</span>
                                            <label for="password2">Confirm Password</label>
                                        </div>
                                    </div>
                                    <button class="btn waves-effect waves-light button" type="submit" name="register">Create
                                        <i class="material-icons right">face</i>
                                    </button>
                                </div>
                                <div class="card-action">
                                    <p>Already have an account?</p>
                                    
                                    <button class="btn waves-effect waves-light button btn-small" name="login" 
                                    onclick="window.location.href='/login';">log in
                                        <i class="material-icons right">login</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>